@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  scroll-behavior: smooth;
  
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;

  background: rgb(31 41 55);
  /* color: #f1f1f1; */
  min-height: 300vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.barInitial{
  transition: all 0.4s ease-in-out;
}
.hide{
  transform: translateY(-100%);
  opacity : 0;
}

.textAnim{
  opacity : 1;
  transition: all 0.4s ease-in-out;
}
.fade{
  transform: translateY(5%);
  opacity : 0;
}
/* ---------------------------------------------------------- */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px 20px 20px 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

